* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 10px;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: -1;
  transform-style: preserve-3d;
}
.background {
  transform: translateZ(-40px) scale(5);
}
.foreground {
  transform: translateZ(-20px) scale(3);
}
.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  /* object-fit property is used to specify how an img or video 
  should be resized to fit its container  */
  object-fit: cover;
}
h1 {
  position: absolute;
  top: 3rem;
  left: 50%;
  font-size: 10rem;
  color: white;
  text-shadow: 0 10px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
  letter-spacing: 4px;
}

.paras {
  height: 30vh;
  font-size: 2rem;
  color: black;
  margin: 0 auto;
}

.sec {
  background-image: url('https://images.unsplash.com/photo-1528721071427-cab7de8e8050?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bW91dGFpbnN8ZW58MHx8MHx8&auto=format&fit=crop&w=2000&q=60');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 30vh;
}
/* bg {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
} */
